

<table class="table shadow-lg">
  <thead class="table-dark shadow-lg px-2">
    <th>
        searchKey
    </th>
    <th>
        ProductName
    </th>
    <th>
        Price
    </th>
    <th>
        User
    </th>
    <th>
        comments
    </th>
      <th>
        rating
    </th>
  </thead>
 <tbody >
  {% for review in reviews %}
    <tr>
      <td>{{review.searchKey}}</td>
      <td>{{review.ProductName}}</td>
      <td>{{review.price}}</td>
      <td>{{review.UserName}}</td>
      <td>{{review.ShortComments}}</td>
      <td>{{review.rating}}</td>
    </tr>
  {% endfor %}
</tbody>
</table>